* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    flex-direction: column;
    background-color: black;
}

.tip {
    font-style: italic;
    font-weight: bold;
    margin: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 2px purple;
}

p {
    text-align: center;
    color: white;
    text-shadow: 2px 2px purple;
}

.metronome {
    display: flex;
    width: 350px;
    height: 400px;
    position: relative;
}

.controls {
    color: white;
    text-shadow: 2px 2px purple;
    padding: 5px;
    font-size: 20px;
}




.background-left {
    border-bottom: 400px solid purple;
    border-left: 100px solid transparent;
}

.background-center {
    flex: 1;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-right {
    border-bottom: 400px solid purple;
    border-right: 100px solid transparent;
}
.metro {
    display: flex;
    justify-content: center;
}

.core {
    flex: 1;
    width: 30%;
    background-color: black;
    margin: 24px 0;
    border: 6px dashed purple;
}

@keyframes tick {
    0%   { transform: rotate(-30deg); }
    50%  { transform: rotate(30deg);  }
    100% { transform: rotate(-30deg); }
}

.arm {
    height: 300px;
    width: 20px;
    background-color: white;
    position: absolute;
    bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 165px;
    transform-origin: bottom center;
    animation: tick 2000ms ease-in-out infinite;
}

#tempolabel {
    color: white;
    text-shadow: 2px 2px purple;
    font-size: 20px;
}

.tempooption {
    padding: 10px;
}