* {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    flex-direction: column;
    background-color: black;
}

.tip {
    margin: 24px;
    color: white;
    text-shadow: 2px 2px purple;
}

p {
    text-align: center;
    color: white;
    text-shadow: 2px 2px purple;
}


.controls {
    color: white;
    text-shadow: 2px 2px purple;
    padding: 5px;
    font-size: 20px;
    margin-top: 35px;
}

.a {
    font-size: 190px;
    animation: pulse 1200ms linear infinite;
}

@keyframes pulse {
0% {
    
    transform: scale(1.1); 
    color: deeppink;
}
50% {
   transform: scale(0.8);
   color: fuchsia;
}
100% {
   transform: scale(1);
   opacity: 0;
   color: blue;
}
}

#tempolabel {
    color: white;
    text-shadow: 2px 2px purple;
    font-size: 20px;
}

.tempooption {
    padding: 10px;
}

.metro {
    display: flex;
    justify-content: center;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    margin: 15px;
}